.banner{
    height: 100vh;
    padding-top: 80px;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("sushi.webp");
    background-size: cover;
    background-position: center;
}

.navbar-darkglass {
  background-color: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(6px);          
}

.navbar-darkglass .navbar-brand,
.navbar-darkglass .nav-link {
  color: #fff !important;
}

.navbar-darkglass .nav-link:hover {
  color: #ffc107 !important; 
}

.icon-service {
  width: 90px;
  height: 90px;
  border: solid #fff 2px;
  border-radius: 50%;
  color: #ffff;
}

.main-color {
  background-color: #1f2933;
}
